.chat {
  flex: 3;
  border-left: 2px solid #dddddd35;
  border-right: 2px solid #dddddd35;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat .top {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dddddd35;
}

.chat .top .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat .top .user .texts {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap;
}

.chat .top .user .texts span {
  font-size: 30px;
  font-family: Courier, monospace;
  font-weight: 900;
  color: #291616;
}

.chat .top .user .texts p {
  padding-left: 20%;
  font-size: 14px;
  font-weight: 900;
  color: #e4e3e3;
}

.chat .center {
  padding: 10px;
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat .center .message {
  max-width: 70%;
  display: flex;
  gap: 20px;
}

.chat .center .message.own {
  align-self: flex-end;
}

.chat .center .message.own .texts pre {
  background-color: #5183fe;
  white-space: pre-wrap;
}

.chat .center .message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.chat .center .message .texts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
  white-space: pre-wrap;
}

.chat .center .message .texts img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.chat .center .message .texts pre {
  padding: 15px;
  background-color: rgba(17, 25, 40, 0.3);
  border-radius: 20px;
  white-space: pre-wrap;
  font-family: Courier, monospace;
  font-size: 14px;
}

.chat .center .message .texts span {
  font-size: 11px;
}

.chat .bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #dddddd35;
  gap: 20px;
  margin-top: auto;
}

.chat .bottom .sendButton {
  background-color: #5183fe;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bottom .inputWrapper {
  position: relative;
  flex: 1;
}

.bottom .inputWrapper input {
  width: 100%;
  background-color: rgba(17, 25, 40, 0.5);
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.bottom .inputWrapperNotDisabled {
  position: relative;
  flex: 1;
}

.bottom .inputWrapperNotDisabled input {
  width: 100%;
  background-color: rgba(17, 25, 40, 0.5);
  border: none;
  outline: none;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 16px;
}

.bottom .inputWrapper:hover::before {
  content: attr(title);
  display: block;
  position: absolute;
  background-color: #00000025;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  bottom: 100%;  /* Position below the input */
  left: 50%;  /* Centered horizontally */
  transform: translate(-50%, 20px); /* Adjusted to not overlap input */
  white-space: nowrap; /* Keeps the tooltip text on one line */
  pointer-events: none; /* Prevents tooltip from being clickable */
}
