.chatlist {
    flex: 1;
    overflow: scroll;

    .item {
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      cursor: pointer;
      border-bottom: 2px solid #dddddd35;
      border-radius: 12px;
  
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
  
        span {
          font-weight: 500;
        }
  
        p {
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
    .item.active {
      background-color: #7e6363a9; /* Set your desired darker color */
      color: #fff; /* Adjust text color for better contrast */
    }
  }