.chatlist {
  flex: 1;
  overflow: scroll;
}

.chatlist .item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  border-bottom: 2px solid #dddddd35;
  border-radius: 12px;
}

.chatlist .item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.chatlist .item .texts {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.chatlist .item .texts span {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.chatlist .item .texts p {
  font-size: 11px;
  font-weight: 300;
}

.chatlist .item.active {
  background-color: #7e6363a9;
  color: #fff;
}